<%- include('../shared/header', { title: 'Home'}) %>
<main class="container">
  <h1>Personal Blog</h1>

  <% if (articles.length === 0) { %>
    <div class="article-card">
      <p>No articles yet.</p>
    </div>
  <% } else { %>

  <% } %>
</main>
<%- include('../shared/footer', { currentYear: year }) %>